header{
    padding: 20px;
    background-color: #02182B!important;
}

.title-header{
    color: whitesmoke;
    text-align: center;
    text-justify: auto;
    margin-top: 24px;
}

.paragrafo-header {
    color: whitesmoke;
}
