.btn-login {
    background-color: #D7263D;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    color: whitesmoke;
}

.btn-login:hover {
    background-color: #9C1C2D;
}

.title-login{
    margin-top: 16px;
    margin-bottom: 16px;
}